<breadcrumb
  [title]="'Customers'"
  [titleLink]="'/member/customers'"
/>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-bottom border-dashed">
        <h4 class="card-title mb-0">List</h4>
      </div>

      <div class="card-body">
        <div class="mb-3 row">
          <div class="col-xl-3">
            <input
              id="table-filtering-search"
              class="form-control"
              placeholder="{{'search' | translate }}"
              type="text"
              [(ngModel)]="filter"
              (ngModelChange)="onSearch()"
            />
          </div>
        </div>
        
        <div class="table-responsive">
          <table class="table table-enhanced table-hover">
            <thead>
              <tr>
                <th scope="col" class="text-center">{{"no" | translate }}</th>
                <th scope="col" class="text-center">{{"phone" | translate }}</th>
                <th scope="col" class="text-center">{{"name" | translate }}</th>
                <th scope="col" class="text-center">{{"total_pets" | translate }}</th>
                <th scope="col" class="text-center">{{"register_date" | translate }}</th>
                <th scope="col" class="text-center">{{"detail" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              @for (item of searchCountries; track item.id; let i = $index) {
                <tr>
                  <td class="text-center">
                    <span class="table-detail-link" (click)="viewDetail(item.id!)">{{ (page - 1) * pageSize + (i + 1) }}</span>
                  </td>
                  <td class="text-center">
                    <span class="table-detail-link" (click)="viewDetail(item.id!)"><ngb-highlight
                      [result]="item.phone | phone_format"
                      [term]="filter"
                    /></span>
                  </td>
                  <td class="text-center">
                    <span class="table-detail-link" (click)="viewDetail(item.id!)"><ngb-highlight [result]="item.name" [term]="filter" /></span>
                  </td>
                  <td class="text-center">
                    <span class="table-detail-link" (click)="viewDetail(item.id!)">{{ item.pets?.length }}</span>
                  </td>
                  <td class="text-center" (click)="viewDetail(item.id!)"><span class="table-detail-link">{{ item.createdDate | date_full :translate.currentLang  }}</span></td>
                  <td class="text-center">
                    <a
                      [routerLink]="['/member/customers', item.id]"
                      class="btn btn-sm bg-primary-subtle me-1"
                      data-bs-toggle="tooltip"
                      data-bs-original-title="View"
                    >
                      <i
                        class="mdi mdi-text-box-search-outline fs-14 text-primary"
                      ></i>
                    </a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <ngb-pagination
          class="d-flex justify-content-end"
          [collectionSize]="collectionSize"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="onSearch()"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
