<breadcrumb [title]="'Service'" [titleLink]="'/grooming/service'" />

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">บริการ</h4>
      </div>
      <div class="card-body">
        <div class="mb-3 row">
          <div class="col-xl-3">
            <input
              id="table-filtering-search"
              class="form-control"
              placeholder="{{ 'search' | translate }}"
              type="text"
              [(ngModel)]="filter"
              (ngModelChange)="onSearch()"
            />
          </div>
          <div class="col-xl text-end">
            <button class="btn btn-primary" (click)="openAddServiceModal()">
              {{ "add_service" | translate }}
            </button>
          </div>
        </div>

        <div
          class="table-responsive"
          style="max-height: 500px; overflow-y: auto"
        >
          <table class="table table-enhanced table-hover">
            <thead>
              <tr>
                <th scope="col" class="text-center align-middle">
                  {{ "no" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "service_name" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "pet_type" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "service_description" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "service_price" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              @for (item of searchCountries; track item.id; let i = $index) {
                <tr (click)="viewDetail(item.id!)">
                  <td class="table-detail-link text-center">
                    {{ i + 1 }}
                  </td>
                  <td
                    class="table-detail-link text-center"
                    [innerHTML]="item.name! | multiHighlight: filter"
                  ></td>
                  <td
                    class="table-detail-link text-center"
                    [innerHTML]="item.type! | multiHighlight: filter"
                  ></td>
                  <td
                    class="table-detail-link text-center"
                    [innerHTML]="item.description! | multiHighlight: filter"
                  ></td>
                  <td
                    class="table-detail-link text-center"
                    [innerHTML]="item.price!"
                  ></td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template
  #standardModal
  let-modal
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="standard-modalLabel"
  aria-hidden="true"
>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="standard-modalLabel">
      {{ headerModal }}
    </h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      (click)="modalclose()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form class="row g-3 needs-validation" novalidate [formGroup]="serviceForm">
      <!-- name -->
      <div class="col-md-12">
        <label for="nameInput" class="form-label"
          >{{ "service_name" | translate }}
          <span class="text-danger">*</span></label
        >
        <input
          formControlName="name"
          [ngClass]="{ 'is-invalid': submit && form['name'].errors }"
          type="text"
          class="form-control form-control-lg"
          id="nameThInput"
          required
        />
        <div class="invalid-feedback">{{ nameError }}</div>
      </div>
      <!-- Type -->
      <div class="col-md-12">
        <label for="typeInput" class="form-label"
          >{{ "pet_type" | translate }}
          <span class="text-danger">*</span></label
        >
        <ng-select
          [items]="petTypeList"
          [ngClass]="{ 'is-invalid': submit && form['type'].errors }"
          bindLabel="label"
          bindValue="key"
          [searchable]="true"
          formControlName="type"
        >
          <ng-template ng-option-tmp let-item="item">
            <div class="option-content">
              {{ locale() === "th" ? item.value_th : item.value_en }}
            </div>
          </ng-template>
        </ng-select>
        <div class="invalid-feedback">{{ typeError }}</div>
      </div>
      <!-- description -->
      <div class="col-md-12">
        <label for="descriptionInput" class="form-label"
          >{{ "service_description" | translate }}
          <span class="text-danger">*</span></label
        >
        <input
          formControlName="description"
          type="text"
          class="form-control form-control-lg"
          id="descriptionInput"
        />
      </div>
      <!-- price -->
      <div class="col-md-12">
        <label for="priceInput" class="form-label"
          >{{ "service_price" | translate }}
          <span class="text-danger">*</span></label
        >
        <div class="d-flex gap-3">
          <div class="input-group">
            <input
              formControlName="price"
              [ngClass]="{ 'is-invalid': submit && form['price'].errors }"
              mask="separator.0"
              thousandSeparator=","
              [dropSpecialCharacters]="true"
              type="text"
              class="form-control form-control-lg"
              id="priceInput"
            />
            <div class="invalid-feedback">{{ priceError }}</div>
          </div>
        </div>
      </div>
      <!-- barcode -->
      <div class="col-md-12">
        <label for="barcodeInput" class="form-label">{{
          "barcode" | translate
        }}</label>
        <input
          formControlName="barcode"
          type="text"
          class="form-control form-control-lg"
          id="barcodeInput"
        />
      </div>
      <div class="col-md-12">
        <label for="remarkInput" class="form-label">{{
          "remark" | translate
        }}</label>
        <textarea
          formControlName="remark"
          class="form-control"
          id="remarkInput"
          rows="3"
        ></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex">
    @if (isDelete) {
      <button
        type="button"
        class="btn btn-danger me-auto"
        (click)="deleteService()"
      >
        {{ "delete" | translate }}
      </button>
    }
    <button type="button" class="btn btn-success" (click)="addService()">
      {{ btnSave }}
    </button>
    <button
      type="button"
      class="btn btn-light"
      data-bs-dismiss="modal"
      (click)="modalclose()"
    >
      Close
    </button>
  </div>
</ng-template>
