<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="row mb-2">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-primary"
            (click)="openModal()"
            data-bs-toggle="modal"
          >
            <i class="mdi mdi-plus"></i> Add
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-enhanced table-hover">
            <thead>
              <tr>
                <th scope="col" class="text-center align-middle">
                  {{ "no" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "name" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "age" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "gender" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "type" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "breed" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "weight_kg" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "service" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "detail" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              @if (dataList.length == 0) {
                <tr>
                  <td colspan="9" class="text-center align-middle">
                    <span>{{ "no_data" | translate }}</span>
                  </td>
                </tr>
              }
              @for (item of dataList; track item.id; let i = $index) {
                <tr>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                      >{{ i + 1 }}</span
                    >
                  </td>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                      >{{ item.name }}</span
                    >
                  </td>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                    >
                      @if (item.ageYear && item.ageYear > 0) {
                        {{ item.ageYear }} {{ "year" | translate }}
                      }
                      @if (item.ageMonth && item.ageMonth > 0) {
                        {{ item.ageMonth }} {{ "month" | translate }}
                      }
                      @if (!item.ageYear && !item.ageMonth) {
                        -
                      }
                    </span>
                  </td>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                    >
                      @if (locale() === "th") {
                        {{ item.genderTh }}
                      } @else {
                        {{ item.genderEn }}
                      }
                    </span>
                  </td>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                    >
                      @if (locale() === "th") {
                        {{ item.typeNameTh }}
                      } @else {
                        {{ item.typeNameEn }}
                      }
                    </span>
                  </td>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                    >
                      @if (locale() === "th") {
                        {{ item.breedNameTh }}
                      } @else {
                        {{ item.breedNameEn }}
                      }
                    </span>
                  </td>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                      >{{ item.weight }}</span
                    >
                  </td>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                      >{{ item.service }}</span
                    >
                  </td>
                  <td class="text-center align-middle">
                    <a
                      (click)="viewDetail(item.id!)"
                      class="btn btn-sm bg-primary-subtle me-1"
                      data-bs-toggle="tooltip"
                      data-bs-original-title="View"
                    >
                      <i
                        class="mdi mdi-text-box-search-outline fs-14 text-primary"
                      ></i>
                    </a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template
  #standardModal
  let-modal
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="standard-modalLabel"
  aria-hidden="true"
>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="standard-modalLabel">Add pet</h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      (click)="modalclose()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form class="row g-3 needs-validation" novalidate [formGroup]="petForm">
      <div class="col-md-12">
        <label for="nameInput" class="form-label"
          >Name <span class="text-danger">*</span></label
        >
        <input
          formControlName="name"
          [ngClass]="{ 'is-invalid': submit && form['name'].errors }"
          type="text"
          class="form-control form-control-lg"
          id="nameInput"
          required
        />
        <div class="invalid-feedback">{{ nameError }}</div>
      </div>
      <!-- Type -->
      <div class="col-md-12">
        <label for="typeInput" class="form-label">Type</label>
        <ng-select
          [items]="petTypeList"
          bindLabel="label"
          bindValue="key"
          [searchable]="true"
          formControlName="type"
          (change)="onTypeChange($event)"
        >
          <ng-template ng-option-tmp let-item="item">
            <div class="option-content">
              {{ locale() === "th" ? item.value_th : item.value_en }}
            </div>
          </ng-template>
        </ng-select>
      </div>

      <!-- Breed -->
      <div class="col-md-12">
        <label for="breedInput" class="form-label">Breed</label>
        <ng-select
          [items]="filteredBreedList"
          bindLabel="label"
          bindValue="key"
          [searchable]="true"
          formControlName="breed"
        >
          <ng-template ng-option-tmp let-item="item">
            <div class="option-content">
              <img
                *ngIf="item.image_url"
                [src]="item.image_url"
                width="100"
                height="100"
                class="me-2 rounded-circle"
              />
              {{ locale() === "th" ? item.value_th : item.value_en }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="col-md-12">
        <label for="genderInput" class="form-label">{{
          "gender" | translate
        }}</label>
        <div class="form-check radio-lg">
          <input
            class="form-check-input"
            type="radio"
            formControlName="gender"
            id="genderRadios1"
            value="MALE"
          />
          <label class="form-check-label" for="genderRadios1">
            {{ "pet_male" | translate }}
          </label>
        </div>
        <div class="form-check radio-lg">
          <input
            class="form-check-input"
            type="radio"
            formControlName="gender"
            id="genderRadios2"
            value="FEMALE"
          />
          <label class="form-check-label" for="genderRadios2">
            {{ "pet_female" | translate }}
          </label>
        </div>
      </div>
      <!-- Age -->
      <div class="col-md-12">
        <label for="ageInput" class="form-label">Age</label>
        <div class="d-flex gap-3">
          <div class="input-group">
            <input
              formControlName="ageYear"
              type="text"
              class="form-control form-control-lg"
              aria-label="ageYear"
              aria-describedby="ageYearSpan"
              id="ageInput"
              (keydown)="validateNumber($event)"
            />
            <span class="input-group-text" id="ageYearSpan">
              {{ "year" | translate }}
            </span>
          </div>

          <div class="input-group">
            <input
              formControlName="ageMonth"
              type="text"
              class="form-control form-control-lg"
              aria-label="ageMonth"
              aria-describedby="ageMonthSpan"
              id="ageMonthInput"
              (keydown)="validateNumber($event)"
              [ngClass]="{ 'is-invalid': submit && form['ageMonth'].errors }"
            />
            <span class="input-group-text" id="ageMonthSpan">
              {{ "month" | translate }}
            </span>
            <div class="invalid-feedback">{{ ageMonthError }}</div>
          </div>
        </div>
      </div>
      <!-- weight -->
      <div class="col-md-12">
        <label for="weightInput" class="form-label">Weight</label>
        <div class="d-flex gap-3">
          <div class="input-group">
            <input
              formControlName="weight"
              type="text"
              class="form-control form-control-lg"
              aria-label="weight"
              aria-describedby="weightSpan"
              id="weightInput"
            />
            <span class="input-group-text" id="weightSpan">
              {{ "weight_kg" | translate }}
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="addPet()">
      Add
    </button>
    <button
      type="button"
      class="btn btn-light"
      data-bs-dismiss="modal"
      (click)="modalclose()"
    >
      Close
    </button>
  </div>
</ng-template>
