<breadcrumb [title]="'Pets'" [titleLink]="'/pet'" />

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">List</h4>
      </div>

      <div class="card-body">
        <div class="mb-3 row">
          <div class="col-xl-3">
            <input
              id="table-filtering-search"
              class="form-control"
              placeholder="{{ 'search' | translate }}"
              type="text"
              [(ngModel)]="filter"
              (ngModelChange)="onSearch()"
            />
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-enhanced table-hover">
            <thead>
              <tr>
                <th scope="col" class="text-center align-middle">
                  {{ "no" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "name" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "age" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "gender" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "type" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "breed" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "weight_kg" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "service" | translate }}
                </th>
                <th scope="col" class="text-center align-middle">
                  {{ "detail" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              @if (searchCountries && searchCountries.length == 0) {
                <tr>
                  <td colspan="9" class="text-center align-middle">
                    <span>{{ "no_data" | translate }}</span>
                  </td>
                </tr>
              }
              @for (item of searchCountries; track item.id; let i = $index) {
                <tr>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                      >{{ i + 1 }}</span
                    >
                  </td>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                      ><ngb-highlight [result]="item.name" [term]="filter"
                    /></span>
                  </td>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                    >
                      @if (item.ageYear && item.ageYear > 0) {
                        {{ item.ageYear }} {{ "year" | translate }}
                      }
                      @if (item.ageMonth && item.ageMonth > 0) {
                        {{ item.ageMonth }} {{ "month" | translate }}
                      }
                      @if (!item.ageYear && !item.ageMonth) {
                        -
                      }
                    </span>
                  </td>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                    >
                      @if (locale() === "th") {
                        <ngb-highlight
                          [result]="item.genderTh"
                          [term]="filter"
                        />
                      } @else {
                        <ngb-highlight
                          [result]="item.genderEn"
                          [term]="filter"
                        />
                      }
                    </span>
                  </td>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                    >
                      @if (locale() === "th") {
                        <ngb-highlight
                          [result]="item.typeNameTh"
                          [term]="filter"
                        />
                      } @else {
                        <ngb-highlight
                          [result]="item.typeNameEn"
                          [term]="filter"
                        />
                      }
                    </span>
                  </td>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                    >
                      @if (locale() === "th") {
                        <ngb-highlight
                          [result]="item.breedNameTh"
                          [term]="filter"
                        />
                      } @else {
                        <ngb-highlight
                          [result]="item.breedNameEn"
                          [term]="filter"
                        />
                      }
                    </span>
                  </td>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                      >{{ item.weight }}</span
                    >
                  </td>
                  <td class="text-center align-middle">
                    <span
                      class="table-detail-link"
                      (click)="viewDetail(item.id!)"
                      >{{ item.service }}</span
                    >
                  </td>
                  <td class="text-center align-middle">
                    <a
                      (click)="viewDetail(item.id!)"
                      class="btn btn-sm bg-primary-subtle me-1"
                      data-bs-toggle="tooltip"
                      data-bs-original-title="View"
                    >
                      <i
                        class="mdi mdi-text-box-search-outline fs-14 text-primary"
                      ></i>
                    </a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <ngb-pagination
          class="d-flex justify-content-end"
          [collectionSize]="collectionSize"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="onSearch()"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
