<breadcrumb [title]="'Reserve'" [titleLink]="'/grooming/reserve'" />

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <button
        class="btn mb-3"
        style="
          background-color: #e695a3;
          color: #4c1c24;
          min-height: 60px;
          padding: 10px 20px;
          margin-top: 20px;
          margin-right: 20px;
          margin-left: 20px;
        "
        (click)="createReserve()"
      >
        Reserve
      </button>
      <div class="card-body app-calendar">
        <full-calendar #calendarRef [options]="calendarOptions"></full-calendar>
      </div>
    </div>
  </div>
</div>

<ng-template
  #standardModal
  let-modal
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="standard-modalLabel"
  aria-hidden="true"
>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="standard-modalLabel">Reserve</h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      (click)="modalclose()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form class="row g-3 needs-validation" novalidate [formGroup]="reserveForm">
      <!-- Pet -->
      <div class="col-md-12">
        <label for="typeInput" class="form-label"
          >Pet Name <span class="text-danger">*</span></label
        >
        <ng-select
          [items]="petList"
          bindLabel="label"
          bindValue="key"
          [searchable]="true"
          formControlName="pet"
          (change)="onPetChange($event)"
          [addTag]="addCustomPet"
          required
          [ngClass]="{
            'is-invalid': submit && form['pet'].errors,
          }"
        >
          <ng-template ng-option-tmp let-item="item">
            <div class="option-content">
              {{
                (locale() === "th" ? item.value_th : item.value_en) +
                  " (" +
                  item.ref_key4 +
                  ")"
              }}
            </div>
          </ng-template>
        </ng-select>
        <div class="invalid-feedback">Please select a pet name</div>
      </div>

      <!-- Type -->
      <div class="col-md-12">
        <label for="typeInput" class="form-label"
          >Type <span class="text-danger">*</span></label
        >
        <ng-select
          [items]="petTypeList"
          bindLabel="label"
          bindValue="key"
          [searchable]="true"
          formControlName="type"
          (change)="onTypeChange($event)"
          required
          [ngClass]="{
            'is-invalid': submit && form['type'].errors,
          }"
        >
          <ng-template ng-option-tmp let-item="item">
            <div class="option-content">
              {{ locale() === "th" ? item.value_th : item.value_en }}
            </div>
          </ng-template>
        </ng-select>
        <div class="invalid-feedback">Please select a pet type</div>
      </div>

      <!-- Breed -->
      <div class="col-md-12">
        <label for="breedInput" class="form-label">Breed</label>
        <ng-select
          [items]="filteredBreedList"
          bindLabel="label"
          bindValue="key"
          [searchable]="true"
          formControlName="breed"
        >
          <ng-template ng-option-tmp let-item="item">
            <div class="option-content">
              <img
                *ngIf="item.image_url"
                [src]="item.image_url"
                width="100"
                height="100"
                class="me-2 rounded-circle"
              />
              {{ locale() === "th" ? item.value_th : item.value_en }}
            </div>
          </ng-template>
        </ng-select>
      </div>

      <!-- Grooming Service -->
      <div class="col-md-12">
        <label for="groomingInput" class="form-label"
          >Grooming Service <span class="text-danger">*</span></label
        >
        <ng-select
          [items]="filteredGroomingServiceList"
          bindLabel="label"
          bindValue="key"
          [searchable]="true"
          formControlName="grooming"
          required
          [ngClass]="{
            'is-invalid': submit && form['grooming'].errors,
          }"
        >
          <ng-template ng-option-tmp let-item="item">
            <div class="option-content">
              {{ locale() === "th" ? item.value_th : item.value_en }}
            </div>
          </ng-template>
        </ng-select>
        <div class="invalid-feedback">Please select a service</div>
      </div>

      <!-- Start -->
      <div class="col-md-12">
        <label class="form-label"
          >Start <span class="text-danger">*</span></label
        >
        <input
          mwlFlatpickr
          [flatpickrOptions]="flatpickrStartOptions"
          type="text"
          class="form-control"
          id="datetime-datepicker-start"
          formControlName="start"
          required
          [ngClass]="{
            'is-invalid': submit && form['start'].errors,
          }"
        />
        <div class="invalid-feedback">Please select a start time</div>
      </div>

      <!-- End -->
      <div class="col-md-12">
        <label class="form-label">End <span class="text-danger">*</span></label>
        <input
          mwlFlatpickr
          [flatpickrOptions]="flatpickrEndOptions"
          type="text"
          class="form-control"
          id="datetime-datepicker-end"
          formControlName="end"
          required
          [ngClass]="{
            'is-invalid': submit && form['end'].errors,
          }"
        />
        <div class="invalid-feedback">Please select a end time</div>
      </div>

      <!-- phone -->
      <div class="col-md-12">
        <label for="phoneInput" class="form-label"
          >Phone <span class="text-danger">*</span></label
        >
        <div class="col-lg-12 col-xl-12">
          <div class="input-group">
            <span class="input-group-text"
              ><i class="mdi mdi-phone-outline"></i
            ></span>
            <input
              formControlName="phone"
              mask="000-000-0000"
              type="text"
              class="form-control"
              (input)="onPhoneInput($event)"
              id="phoneInput"
              required
              [ngClass]="{
                'is-invalid': submit && form['phone'].errors,
              }"
            />
            <div class="invalid-feedback">Please enter a phone</div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <label for="noteInput" class="form-label">Note</label>
        <textarea
          formControlName="note"
          class="form-control"
          id="noteInput"
          rows="3"
        ></textarea>
      </div>
      <div class="col-md-12">
        <label class="form-label">Color</label>
        <div class="d-flex gap-2 flex-wrap">
          <div
            *ngFor="let color of colorOptions"
            class="color-box"
            [ngClass]="[color, selectedColor === color ? 'selected' : '']"
            (click)="selectColor(color)"
          ></div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    @if (showDelete) {
      <!-- ปุ่ม Delete ชิดซ้าย -->
      <button type="button" class="btn btn-danger" (click)="deleteReserve()">
        Delete
      </button>
    }

    <!-- ปุ่ม Confirm กับ Close ชิดขวา -->
    <div class="ms-auto">
      <button type="button" class="btn btn-success" (click)="reserve()">
        {{ confirmBtn }}
      </button>
    </div>
  </div>
</ng-template>
